<html>
<head></head>
    <body>
        <p>Hi {{ username }}</p>
        <p>Thank you for joining the Pozz Community.  We are a dedicated team of developers who wants to change the ways we post our item online  We are so thrilled to having you with us and to use this amazing platform.</p>
        <p>To get you started, please click the link below to confirm your email so we could help you set up your first post</p>
        <a href="{{ confirm_link }}">{{ confirm_link }}</a>
        <p>Thank you so much, and we are looking forward to hear from you again</p>
        <p>Best regard,</p>
        <p>Pozz Team</p>
    </body>
</html>