    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.ui.effect.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/bootstrap.js">                 </script>
    <script src="javascripts/transition.js"></script>
    <script src="javascripts/modal.js"></script>
    <script src="javascripts/utility.js"></script>
    <script src="javascripts/expandable.js"></script>
    <script src="javascripts/processing.js"></script>
    <script src="javascripts/tooltip.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-RWs2BNTpLsQSlkgysaVkDKeJDhQhufw&sensor=false">
    </script>
    <script type="text/javascript" src="javascripts/map.js"></script>