<!doctype html>
<html>
<head>
    <!---   AIzaSyC-RWs2BNTpLsQSlkgysaVkDKeJDhQhufw -->
    <title>Pozz Search Listing Testing</title>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.ui.effect.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/bootstrap.js">              </script>
    <script src="javascripts/transition.js"></script>
    <script src="javascripts/modal.js"></script>
    <script src="javascripts/utility.js"></script>
    <script src="javascripts/expandable.js"></script>
    <script src="javascripts/processing.js"></script>
    <script src="javascripts/tooltip.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-RWs2BNTpLsQSlkgysaVkDKeJDhQhufw&sensor=false">
    </script>
    <script type="text/javascript" src="javascripts/map.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">

    <link rel="stylesheet" href="stylesheets/pozz-product.css">
    <link rel="stylesheet" href="stylesheets/search.css">
    <link rel="stylesheet" href="stylesheets/preview-product.css">
<!--    <link rel="stylesheet" href="../public/stylesheets/search-styles.css">-->
    
    <script>

    </script>

    <script>
        $(document).ready(function() {
            var post_title_id = "post-title";
            var post_price_id = "post-price";
            var post_description_id = "post-description";
            var post_location_id = "post-location";
            var post_days_id = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];
            var isClicked = false;
            var btnSignIn = $('#sign-btn');
            
            //Selectors for full view
            var fv_title = $('#fv_title');
            var fv_price = $('#fv_price');
            var fv_times = $('#fv_times');
            var fv_description = $('#fv_description');
            
            
            /*
                Display a tooltip for the sign in button on nav bar
            */
            btnSignIn.tooltip({
                'trigger':'click',
                'placement': 'bottom',
                'title': $('#signinform').html(),
                'html': true,
            });
            
//            $('#successsignin').hide();
            
            //Sign in button, located on nav bar
            btnSignIn.on('shown.bs.tooltip', function(){
                $('#signinbutton').click(function(){
                    var user_auth = {};
                    user_auth.username = $('#username').val();
                    user_auth.password = $('#password').val();
                    $.ajax({
                        type:"POST",
                        data:JSON.stringify(user_auth),
                        contentType:"application/json",
                        url: "http://localhost:3000/login",
                        async:true,
                        success: function(data) {
                            btnSignIn.tooltip("hide");
                            btnSignIn.hide();
                            $('#successsignin').show();
                            $('#signinname').html("pozzerteam");
                        },
                        error: function(data){
                            console.log(data);
                            console.log("failed");
                        }
                    });
                });    
            });
            
            
            
            /* Verify forms */
            $('#post-submit').click(function(){
                var myTitle = $('#' + post_title_id).val();
                var myPrice = $('#' + post_price_id).val();
                var myDescription = $('#' + post_description_id).val();
                var myLocation = $('#' + post_location_id).val();
                var myDays = "";
                for(var i = 0; i < post_days_id.length; i++) {
                    if($('#post-' + post_days_id[i]).is(":checked")) {
                        myDays += post_days_id[i] + ",";
                    }
                }
                
                var data = {};
                data.id = CryptoJS.SHA1(myTitle).toString(CryptoJS.enc.Hex);
                data.title = myTitle;
                data.price = myPrice;
                data.description = myDescription;
                data.days = myDays;
                $.ajax({
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:"application/json",
                    url:"http://localhost:3000/createpost",
                    success: function(data) {
                        console.log("successfully submitted the post");
                    }
                });
                
            });
            
            $('.post-container').hide();
            
            $('#post-button').click(function() {
                if(isClicked) {
                    isClicked = false;
                    $('.post-container').hide(); 
                } else {
                    isClicked = true;
                    $('.post-container').show(); 
                }
            });
            
           $('.product-image-main').click(function() {
               //Extract id
               var id = $(this).attr("id").replace("image-", "");
               
               //Show product modal
               $('#productModal').modal('show');
               
               //Get image src
               var imagesrc = $(this).attr("src");
               
               //Things to do after modal is shown
               $('#productModal').on('shown.bs.modal', function(e) {
                   $('#modal-product-mainimage').attr("src", imagesrc);
                   var fullview_title = $('#title-' + id).html();
                   var fullview_price = $('#price-' + id).html();
                   var fullview_availabletimes = $('#available_times-' + id).html();
                   var fullview_description = $('#text-' + id).html();
                   fv_title.html(fullview_title);
                   fv_price.html(fullview_price);
                   fv_times.html(fullview_availabletimes);
                   fv_description.html(fullview_description);
               });
               
           }); 
            $('.modal-product-subimage').hover(function() {
                $('#modal-product-mainimage').attr("src", $(this).attr("src"));
            })
        });
        /** JQuery functions **/
    </script>
</head>
<body>
      <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Pozz</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">LInk</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="e.g. Macbook Air" style="width:500px;">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
          <button type="button" class="btn btn-primary" id="post-button">Pozz</button>
        </form>
          <p class="navbar-text navbar-right" id="successsignin"><a href="#" class="navbar-link" id="signinname">{% if signedin %}{{username}}{% endif %}</a></p>
          {% if !signedin %}<button type="button" class="btn btn-default navbar-btn" id=
"sign-btn">Sign In/Up</button>{% endif %}
      </div><!-- /.navbar-collapse -->
    </nav>

        <div class="category-container">
            <div class="category category-header-title">Category</div>
            <div class="category category-text"><a>Electronics</a></div>
            <div class="category category-text"><a>Furnitures</a></div>
            <div class="category category-text"><a>Clothes</a></div>
            <div class="category category-text"><a>Books</a></div>
            <div class="category category-text"><a>Free Stuff</a></div>
        </div>
        
        <div class="listing-container">
            {% for post in result %}
            <div class="listing" id="{{ post.pid }}">
                <div class="">
                    <div class="product-media-container">
                        <div class="product-media"><img src="images/product1.jpg" class="product-image-main" id="image-1389"></div>
                        <em>About an hour ago</em><br>
                    </div>
                    
                    <div class="product-info-container" id="description-1389">
                        <div class="product-info-title product-text" id="title-1389">
                            {{ post.post_title }}
                        </div>
                        <div id="price-1389" class="product-price-container price-text">Used: ${{ post.post_price }}</div>
                        <div id="available_times-1389">Available times: <a>Monday</a> <a>Thursday</a> <a>Friday</a></div>
                        <div>Place: <img src="images/mapicon2.jpeg" class="map-icon"><a>Seattle, WA</a></div>

                        <div class="product-info-description" id="text-1389">The New York Times Bestseller on the continuous innovation to create radically successfull business.  I've read this book 5 times and learned a lot throughout my career as a serial  <span class="product-text" id="overflow-placeholder-1389">...</span> <span class="product-info-description-overflow" id="overflow-1389"> entrepreneur.  Want to sell it to those who wants to risk it to change the world.
                            </span>                
                        </div> 
                    </div>
                    <div class="product-options-container">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="chat-bar-container">chat bar</div>
    </div>


<!--
<div class="modal fade map-container" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-product">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Product detail</h4>
            </div>
            <div class="modal-body modal-product-body">
                <div class="modal-product-image-container">
                    <div class="modal-product-main-productimage">
                        <img src="" id="modal-product-mainimage" style="width:500px;
    height:550px;">
                    </div>
                    <div class="">
                        <img src="images/product1.jpg" class="modal-product-subimage" style="width:50px; height:50px;">
                        <img src="images/product1-sub1.jpg" class="modal-product-subimage" style="width:50px; height:50px;">
                    </div>
                    
                </div>
                <div class="modal-product-detail-container">
                        <div class="product-info-title product-text" id="fv_title">
                        </div>
                        <div class="product-price-container price-text" id="fv_price"></div>
                        <div id="fv_times"></div>


                        <div class="product-info-description" id="text-1389">
                            <img src="images/profile1.jpg" style="float:left; padding-right:10px;">
                            <div id="fv_description"></div>              
                        </div> 
                </div>
                
            </div>
            <div class="modal-footer map-footer">
                <button type="button" class="btn btn-default" id="map-close">Close</button>
            </div>
        </div>
    </div>
</div>
-->

<!--
<div class="modal fade map-container" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog map-dialog-box">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Google Map Direction</h4>
              </div>
              <div class="modal-body">
                <div class="map-direction-container">
                    <div class="map-direction-option">
                    <a href="#" id="map-address-link">Address</a>
                    </div>
                    <div class="map-direction-option">
                    <a href="#" id="map-direction-link">Directions</a>
                    </div>
                </div>
                <div id="map-canvas">
                </div>
                <div class="" id="directions-panel"></div>
                <div class="map-tool">
                    <div class="map-direction-start">
                            <input class="form-control map-direction-input" type="text" placeholder="Starting address" id="map-start-address">
                    </div>
                   <input type="button" class="map-direction-interchange glyphicon glyphicon-refresh" id="map-interchange-button" onclick="addressSwap()">
                    <button class="btn btn-default map-direction-interchange" type="button" id="map-interchange-button" onclick="addressSwap()"></button>
                    <div class="map-direction-end">
                            <input class=" form-control map-direction-input" type="text" placeholder="Destination address" id="map-end-address">
                    </div>
                    <div class="map-calculate-button">
                            <button type="button" class="btn btn-primary" onclick="calcRoute()">Calculate</button>
                    </div>
                </div>
              </div>
              <div class="modal-footer map-footer">
                <button type="button" class="btn btn-default" id="map-close">Close</button>
              </div>
            </div>
          </div>
    </div>
-->

    

<!--
<div class="container">
    <div class="post-container">
        <div style="float:left;">
            <div style="padding:10px;">Title <br><input type="text" placeholder="Title" style="width:250px;" id="post-title" value="The Lean Startup By Eric Ries"></div>
            <div style="padding:10px;">Price <br><input type="text" placeholder="Price" style="width:250px;" id="post-price"></div>
            <div style="padding:10px;">Description<br><input type="text" placeholder="Description" style="width:250px; height:125px;" id="post-description" value="I'm seeling this superb book on how to start a startup"></div>
        </div>
        <div style="float:left;">
            <div style="padding:10px;">
                Location <br> <input type="text" placeholder="Location" style="width:250px;" id="post-location" value="Seattle, WA">
            </div>
            <div style="padding:10px;">
                Available Times<br>
                <input type="checkbox" id="post-monday">Monday <input type="checkbox" id="post-tuesday">Tuesday <input type="checkbox" id="post-wednesday">Wednesday <input type="checkbox" id="post-thursday">Thursday <input type="checkbox" id="post-friday">Friday<br> <input type="checkbox" id="post-saturday">Saturday <input type="checkbox" id="post-sunday">Sunday
            </div>
            <div style="padding:10px;">
                Upload image
                <input type="file" multiple="" id="post-image">
            </div>
            <div style="padding:20px;">
                <input type="button" value="Submit" id="post-submit">
            </div>
        </div>
    </div>
</div>
-->
    <!----- Start Sign in Form ------->
    <div class="tooltip" id="signinform">
        <div class="tooltip-inner">
            <h4>Please Sign in</h4> <br>
            Username:<input type="text" placeholder="Username" id="username" value=""><br>
            Password:<input type="password" placeholder="Password" id="password" value=""><br>
            <input type="button" value="Sign in" id="signinbutton"> <br>
            A new user? <a href="http://localhost:3000/signupform" >Sign Up</a>
        </div>
        <div class="tooltip-arrow">
        </div>
    </div>
    <!------  End Sign in Form ------>
    
    <div class="container">
    <div class="postbox">
        <div class="postitem">
            <div id="post-progress-percentage">0%</div>
            <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%" id="post-progress">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
            </div>
            <div class="post-steps">Step 1</div>
            <div class="post-instructions"></div>
        </div>
        <div class="postitem">
            <div class="post-input-container" id="step1">
                
                <div style="post-input-1" id="input-1">
                    Choose a title
                    <input type="text" style="width:300px;" placeholder="Title">
                </div>
                <br>
                <div class="" id="input-2">
                    How much are you selling for?
                    <input type="text" style="width:100px;" placeholder="Price">
                </div>

            </div>
            <div class="post-input-container" id="step2">
                <div style="post-input-1" id="input-1">
                    Describe your item <br>
                    <textarea rows="5" cols="77" placeholder="This is a gently used baseball bat purchased 2 months ago."></textarea>
                </div>
                <br>
                <div class="" id="input-2">
                    Upload your image(s) <br>
                    <div id="post-image-list"></div>
                    <input type="file" multiple="multiple" id="post-image">
                </div>
            </div>
            <div class="post-input-container" id="step3">
                <div style="post-input-1" id="input-1">
                    Select the days you are available <br>
                    <button type="button" class="btn btn-default postday">Mon</button>
                    <button type="button" class="btn btn-default postday">Tues</button>
                    <button type="button" class="btn btn-default postday">Wed</button>
                    <button type="button" class="btn btn-default postday">Thurs</button>
                    <button type="button" class="btn btn-default postday">Fri</button>
                    <button type="button" class="btn btn-default postday">Sat</button>
                    <button type="button" class="btn btn-default postday">Sun</button>
  
                    
                </div>
                <br>
                <div class="" id="input-2">
                    Choose a location <br>
                    <input type="text" style="width:200px;" placeholder="e.g  Seattle, WA">
                </div>
            </div>
            <div class="post-input-container" id="step4">
                <div style="post-input-1" id="input-1">
                    Select the days you are available <br>
                    <button type="button" class="btn btn-default postday">Mon</button>
                    <button type="button" class="btn btn-default postday">Tues</button>
                    <button type="button" class="btn btn-default postday">Wed</button>
                    <button type="button" class="btn btn-default postday">Thurs</button>
                    <button type="button" class="btn btn-default postday">Fri</button>
                    <button type="button" class="btn btn-default postday">Sat</button>
                    <button type="button" class="btn btn-default postday">Sun</button>
  
                    
                </div>
                <br>
                <div class="" id="input-2">
                    Choose a location <br>
                    <input type="text" style="width:200px;" placeholder="e.g  Seattle, WA">
                </div>
            </div>
            
            
            <div class="post-control-container">
                <input type="button" value="Back" class="post-back-button">
                <input type="button" value="Next" class="post-next-button">
            </div>
        </div>
    </div>
    </div>
    <script>
        
        var postTitle = $("#post-title");
        var postPrice = $("post-price");
        var postDesc = $("post-description");
        var postLoc = $("post-location");
        var postStep = $("post-steps");
        var postInstruction = $("post-instructions");
        var postDays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];
        var postFiles = {};
        var index = 0;
        var postForm = $('.postbox');
        var postBackButton = $('.post-back-button');
        var postNextButton = $('.post-next-button');
        var postDay = $('.postday');
        var postProgressBar = $('#post-progress');
        var postProgressPercent = $('#post-progress-percentage');
        var progressIncrement = 25;
        var progress = progressIncrement;
        var data = {};
        var div_steps = [$('#step1'), $('#step2'), $('#step3'), $('#step4')];
    
        $(document).ready(function() {
            
            /* Show only the first step */
            for(var i = 2; i < 5; i++) {
                $('#step' + i).hide();
            }
            updateProgressBar(progress);
            updateStepIndicator(index + 1);
            postForm.hide();
            
            $('#post-button').click(function() {
                postForm.slideToggle("slow");
            });
            
            postBackButton.hide();
            
            $('input:file').change(function(){
                var fileInput = document.getElementById('post-image');
                
                var files = fileInput.files;
                var file;
                
                for(var i = 0; i < files.length; i++) {
                    file = files.item(i);
                    $('#post-image-list').append(file.name + "<br>");
                }
//               alert($(this).val().replace(/.*(\/|\\)/, ''));
            });
            
            /*
                Increment progress and reveals the next step in the post form
            */
            postNextButton.click(function() {
                if(progress < 100) {
                    progress += progressIncrement;
                    div_steps[index].hide();
                    index++;
                    div_steps[index].show();
                    updateProgressBar(progress);
                    updateStepIndicator(index + 1);
                }
                if((index + 1) > 1) {
                    postBackButton.show();
                }

            });
            
            /*
                Decrement progress, hides current step and reveals previous step 
                in the post form.
            */
            postBackButton.click(function(){
                if (progress > 25) {
                    progress -= progressIncrement;
                    div_steps[index].hide();
                    index--;
                    div_steps[index].show();
                    if((index + 1) == 1) {
                        $(this).hide();
                    } 
                    updateProgressBar(progress);
                    updateStepIndicator(index + 1);
                }
            });
            
            //Toggle day selection
            postDay.click(function(){
                if($(this).attr("class") === "btn btn-default postday") {
                    $(this).attr("class", "btn btn-primary postday");
                } else {
                    $(this).attr("class", "btn btn-default postday");
                }
            });
        });
        
        /*
            Hides and shows the divs for each step
        */
        function updateIndex(amount)
        {
            if(index >= 1 && index <= 4) {
                $('#step' + index).hide();
                index += amount;
                $('#step' + index).show();
            } else if(index > 4) {
                index--;
            }
        }
        
        /* 
            Updates the progress bar
        */
        function updateProgressBar(the_percentage)
        {
            //Update progress bar 
            postProgressBar.css("width", the_percentage + "%");
            
            //Update percentage text
            postProgressPercent.html(the_percentage + "%");    
        }
        
        /*
            Updates the step indicator
            @param:the_number integer
        */
        function updateStepIndicator(the_number)
        {
            $('.post-steps').html("Step " + the_number);
        }

    </script>
    
</body>
</html>