<!doctype html>
<html>

<head>
    <!---   AIzaSyC-RWs2BNTpLsQSlkgysaVkDKeJDhQhufw -->
    <title>Pozz Search Listing Testing</title>
    {% include 'search-scripts.html' %}
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pozz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">LInk</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Textbooks</a>
                        </li>
                        <li>
                            <a href="#">Furnitures</a>
                        </li>
                        <li>
                            <a href="#">Electronics</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Free Stuff</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Free Food</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Free Ride</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="e.g. Macbook Air" style="width:500px;">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                <button type="button" class="btn btn-primary" id="post-button">Pozz</button>
            </form>
            <p class="navbar-text navbar-right" id="successsignin">
                <a href="#" class="navbar-link" id="signinname">{% if signedin %}{{username}}{% endif %}</a>
            </p>
            {% if !signedin %}
            <button type="button" class="btn btn-default navbar-btn" id="sign-btn">Sign In/Up</button>{% endif %}
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    {# include 'search-side-category.html' #}

    <div class="listing-container">
        {% for post in result %}
        <div class="listing" id="{{ post.pid }}">
            <div class="">
                <div class="product-media-container">
                    <div class="product-media">
                        <img src="images/product1.jpg" class="product-image-main" id="image-1389">
                    </div>
                    <em>About an hour ago</em>
                    <br>
                </div>

                <div class="product-info-container" id="description-1389">
                    <div class="product-info-title product-text" id="title-1389">
                        {{ post.post_title }}
                    </div>
                    <div id="price-1389" class="product-price-container price-text">Used: ${{ post.post_price }}</div>
                    <div id="available_times-1389">Available times:
                        <a>Monday</a>
                        <a>Thursday</a>
                        <a>Friday</a>
                    </div>
                    <div>Place:
                        <img src="images/mapicon2.jpeg" class="map-icon">
                        <a>Seattle, WA</a>
                    </div>

                    <div class="product-info-description" id="text-1389">The New York Times Bestseller on the continuous innovation to create radically successfull business. I've read this book 5 times and learned a lot throughout my career as a serial
                        <span class="product-text" id="overflow-placeholder-1389">...</span>
                        <span class="product-info-description-overflow" id="overflow-1389">entrepreneur. Want to sell it to those who wants to risk it to change the world.
                        </span>
                    </div>
                </div>
                <div class="product-options-container">
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="chat-bar-container">chat bar</div>
    </div>


    {% include 'search-product-modal.html' %} {% include 'search-map-modal.html' %} {% include 'search-full-view.html' %} 
    <!----- Start Sign in Form ------->
    <div class="tooltip" id="signinform">
        <div class="tooltip-inner">
            <h4>Please Sign in</h4>
            <br>Username:
            <input type="text" placeholder="Username" id="username" value="">
            <br>Password:
            <input type="password" placeholder="Password" id="password" value="">
            <br>
            <input type="button" value="Sign in" id="signinbutton">
            <br>A new user?
            <a href="http://localhost:3000/signupform">Sign Up</a>
        </div>
        <div class="tooltip-arrow">
        </div>
    </div>
    {{post_box()}}
<!--
    <script type="text/javascript" src="javascripts/dust-full-0.3.0.js"></script>
    <script type="text/javascript" src="javascripts/search/search-post-box.js"></script>
-->
     <script src="javascripts/load-image.min.js"></script>
    <script src="javascripts/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="javascripts/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fileupload-image.js"></script>
    <script type="text/javascript" src="javascripts/adpost.js"></script>
</body>

</html>