   <div class="category-container">
        <div class="category category-header-title">Category</div>
        <div class="category category-text">
            <a>Electric Appliances</a>
        </div>
        <div class="category category-text">
            <a>Furnitures</a>
        </div>
        <div class="category category-text">
            <a>Clothes</a>
        </div>
        <div class="category category-text">
            <a>Books</a>
        </div>
        <div class="category category-text">
            <a>Free Stuff</a>
        </div>
    </div>