<div class="container">
    <div class="post-container">
        <div style="float:left;">
            <div style="padding:10px;">Title <br><input type="text" placeholder="Title" style="width:250px;" id="post-title" value="The Lean Startup By Eric Ries"></div>
            <div style="padding:10px;">Price <br><input type="text" placeholder="Price" style="width:250px;" id="post-price"></div>
            <div style="padding:10px;">Description<br><input type="text" placeholder="Description" style="width:250px; height:125px;" id="post-description" value="I'm seeling this superb book on how to start a startup"></div>
        </div>
        <div style="float:left;">
            <div style="padding:10px;">
                Location <br> <input type="text" placeholder="Location" style="width:250px;" id="post-location" value="Seattle, WA">
            </div>
            <div style="padding:10px;">
                Available Times<br>
                <input type="checkbox" id="post-monday">Monday <input type="checkbox" id="post-tuesday">Tuesday <input type="checkbox" id="post-wednesday">Wednesday <input type="checkbox" id="post-thursday">Thursday <input type="checkbox" id="post-friday">Friday<br> <input type="checkbox" id="post-saturday">Saturday <input type="checkbox" id="post-sunday">Sunday
            </div>
            <div style="padding:10px;">
                Upload image
                <input type="file" multiple="" id="post-image">
            </div>
            <div style="padding:20px;">
                <input type="button" value="Submit" id="post-submit">
            </div>
        </div>
    </div>
</div>