<!--<div class="modal fade map-container" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog map-dialog-box">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Google Map Direction</h4>
              </div>
              <div class="modal-body">
                <div class="map-direction-container">
                    <div class="map-direction-option">
                    <a href="#" id="map-address-link">Address</a>
                    </div>
                    <div class="map-direction-option">
                    <a href="#" id="map-direction-link">Directions</a>
                    </div>
                </div>
                <div id="map-canvas">
                </div>
                <div class="" id="directions-panel"></div>
                <div class="map-tool">
                    <div class="map-direction-start">
                            <input class="form-control map-direction-input" type="text" placeholder="Starting address" id="map-start-address">
                    </div>
                   <input type="button" class="map-direction-interchange glyphicon glyphicon-refresh" id="map-interchange-button" onclick="addressSwap()">
                    <button class="btn btn-default map-direction-interchange" type="button" id="map-interchange-button" onclick="addressSwap()"></button>
                    <div class="map-direction-end">
                            <input class=" form-control map-direction-input" type="text" placeholder="Destination address" id="map-end-address">
                    </div>
                    <div class="map-calculate-button">
                            <button type="button" class="btn btn-primary" onclick="calcRoute()">Calculate</button>
                    </div>
                </div>
              </div>
              <div class="modal-footer map-footer">
                <button type="button" class="btn btn-default" id="map-close">Close</button>
              </div>
            </div>
          </div>
    </div>-->